extends general/layout

block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(action='/articles/add' method='POST' enctype="multipart/form-data")
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date' aria-label='Календарь')
                    input#new-publication-date(
                      type='text' 
                      name='publicationDate' 
                      value=`${publication.publicationDate}` 
                      placeholder='Дата'
                    )
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно')
              | Закрыть
              | окно
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(
                      type='text' 
                      name="title" 
                      value=`${publication.title}` 
                      placeholder='Заголовок' 
                      required=''
                    )
                .form__field.form__field--post-image
                  label
                    input#image-name-field(
                      type='text' 
                      value=`${publication.picture}`
                      placeholder='Фотография' 
                      readonly=''
                    )
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='picture')
                      | Обзор
                div.new-publication__category-wrapper
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="Деревья" 
                      id="categories[1]" 
                      checked= publication.categories.includes('Деревья')
                    )
                    <label for="categories[1]">Деревья</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="За жизнь" 
                      id="categories[2]" 
                      checked= publication.categories.includes('За жизнь')
                    )
                    <label for="categories[2]">За жизнь</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="Без рамки" 
                      id="categories[3]" 
                      checked= publication.categories.includes('Без рамки')
                    )
                    <label for="categories[3]">Без рамки</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="Разное" 
                      id="categories[4]" 
                      checked= publication.categories.includes('Разное')
                    )
                    <label for="categories[4]">Разное</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="IT" 
                      id="categories[5]" 
                      checked= publication.categories.includes('IT')
                    )
                    <label for="categories[5]">IT</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input( 
                      type="checkbox" 
                      name="categories" 
                      value="Музыка" 
                      id="categories[6]" 
                      checked= publication.categories.includes('Музыка')
                    )
                    <label for="categories[6]">Музыка</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="Кино" 
                      id="categories[7]" 
                      checked= publication.categories.includes('Кино')
                    )
                    <label for="categories[7]">Кино</label>
                  </div>
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="Программирование" 
                      id="categories[8]" 
                      checked= publication.categories.includes('Программирование')
                    )
                    <label for="categories[8]">Программирование</label>
                  </div> 
                  <div class="new-publication__checkbox new-publication__checkbox--auto">
                    input(
                      type="checkbox" 
                      name="categories" 
                      value="Железо" 
                      id="categories[9]" 
                      checked= publication.categories.includes('Железо')
                    )
                    <label for="categories[9]">Железо</label>
                  </div>
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию 
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(
                      rows='1' 
                      name="announce" 
                      placeholder='Анонс публикации'
                    ) #{publication.announce}
                .form__field.form__field--publication-text
                  label
                    textarea(
                      rows='1' 
                      name="fullText" 
                      placeholder='Полный текст публикации'
                    ) #{publication.fullText}
      .modal__overlay
